body {
    margin-top: 1.25rem; 
    background-color: #F3F4F6; 
}
.container {
    margin: 2.5rem auto 0 auto;
    padding: 1rem;
    border-radius: 0.25rem;
    max-width: 28rem;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4);
}
.akhir {
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 
    text-align: center; 
    color: #3B82F6;
}
.paragraph {
    color: #3B82F6;
}
.radiobutton {
    margin-bottom: 1rem;
}
.blue {
    color: #3B82F6;
}
.red {
    color: #DC2626;
}
.clear {
    margin-left: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    border-radius: 0.25rem;
    border-style: none;
    color: #ffffff; 
    background-color: #DC2626;
    cursor: pointer; 
}
.clear:hover {
    background-color: #EF4444;
}
.kirim {
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    border-radius: 0.25rem; 
    border-style: none;
    color: #ffffff; 
    background-color: #3B82F6; 
    cursor: pointer; 
}    
.kirim:hover {
    background-color: #1D4ED8; 
}